
body {
    color: #FFF;
    font-family: 'Nunito', sans-serif;
}

ul {
    padding: 0;
    margin-left: 0 !important;
    list-style: none;
}

p { margin: 0; }

#app {
    padding-top: 0;
    display: flex;
    min-height: 100vh;
    background-color: #1a202c;

    .bold { font-weight: 700; }

    .list-container {
        margin-top: 1rem;
    }

    .form-create-category {
        background-color: #FFF;
    }

    .message {
        padding: 5px 10px;

        &.success { background-color: #3adb76; }
        &.error { background-color: #cc4b37; }

        &-action {
            padding: 3px 8px;
            cursor: pointer;
        }

        &-wrapper {
            background-color: #e6e6e6;
            padding: 15px 0;
        }
    }

    .card-title {
        font-size: 1.3rem;
        font-weight: 700;
    }

    .card-controls {
        display: inline-flex;
        align-items: center;

        .control-edit {
            margin: 0 10px;
            cursor: pointer;
        }
    }

    .card-divider {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .button-wrapper {
        &.disable {
            .button { background-color: #CCC; }
        }

        .loader {
            max-width: 100px;
        }

        .button {
            margin-bottom: 0;
        }
    }

    .form-container {
        margin: 2rem 0;
        padding: 1rem 0;
    }

    .category-pill {
        text-align: center;
        background-color: #3adb76;
        border-radius: 15px;
        color: #FFF;
    }

    .categories-wrapper {
        margin-top: 1rem;
    }

    &.page-home {
        align-items: center;
    }

    &.page-catalog-index {

    }

    &.page-product-index {
        .form-create {
            background-color: #fefefe;
            p { color: #000; }
            li p { color: #FFF; }
            margin-bottom: 2rem;
        }

        .category {
            &-detach {
                display: inline-flex;
            }

            &-item {
                display: inline-flex;
                border: 2px solid #CCC;
                border-radius: 15px;
                background-color: #1a202c;
                color: #FFF;
                font-size: .8rem;
                cursor: pointer;
            }

            &-action {
                padding: 0 8px;
            }

            &-block {
                margin: 1rem 0;
            }
        }

        .product {
            &-caracs {
                margin: 1rem 0;
            }

            &-carac {
                padding: 5px 0;
            }
        }

        

        .product-update {
            .category {
                &-detach {
                    display: inline-flex;
                }

                &-item {
                    display: inline-flex;
                    border: 2px solid #CCC;
                    border-radius: 15px;
                    background-color: #1a202c;
                    color: #FFF;
                    font-size: .8rem;
                    cursor: pointer;
                }

                &-action {
                    padding: 0 8px;
                }

                &-block {
                    margin: 1rem 0;
                }
            }
        }

        .card-divider {
            display: flex;
            justify-content: space-between;
        }

        .product-action {
            ul li {
                display: inline-block;
                padding: 3px 5px;
                cursor: pointer;

                i {
                    color: #000;
                    transition: color .3s;
                }

                &:hover {
                    i { color: #1a202c; }
                }
            }
        }
    }

    .app-grid.grid-container {
        margin: 0;
        padding: 0;
        width: 100%;

        .resource-grid {
            justify-content: center;
            padding-top: 3rem;
        }
    }

    .top-bar, .top-bar ul {
        background-color: #FFF;
        color: #000;
    }

    .top-bar {
        .menu-text {
            text-transform: uppercase;
        }

        a {
            color: #000;
            transition: color .3s;

            &:hover {
                color: #1468a0;
            }
        }
    }
}


.catalogue {
    padding: 1rem 2.5rem;
    margin: 0 1.5rem;
    border: 1px solid #FFF;
}

.product-container {
    margin: 2rem 0; 
}

.bold {
    font-weight: 700;
}

.home-grid {
    justify-content: center;
    align-items: center;

    nav {
        text-align: center;

        a {
            padding: 5px 10px;
            font-size: 1.3rem;
            text-transform: capitalize;
            color: #FFF;
            transition: color .3s;

            &:hover {
                color: #1468a0;
            }
        }
    }
}

.title {
    text-align: center;
    font-size: 2.5rem;
    text-transform: capitalize;
}